<h1><%= "Bachelorette's Contestants"%></h1>
    <% @contestants.each do |contestant| %>
      <section id='contestant-<%=contestant.id%>'>
        <%= contestant.name %><br>
        <%= contestant.age %><br>
        <%= contestant.hometown %><br>
      </section><br>
  <% end %>
