<h1>Contestants for <%= @bachelorette.name %>, Season <%= @bachelorette.season_number %>:</h1>

<div id="contestants">
    <% @bachelorette.contestants.each do |contestant| %>
        <p>Name: <%= link_to contestant.name, "/contestants/#{contestant.id}" %>, Age: <%= contestant.age %>, Hometown: <%= contestant.hometown %></p>
    <% end %>
</div>