<h1>Contestants</h1>
<h3>For <%= @bachelorette.name %>, <%= @bachelorette.season_number %> </h3>

<% @contestants.each do |contestant| %>
  <h3><%= contestant.name %></h3>
  <p><%= contestant.age %></p>
  <p><%= contestant.hometown %></p>
<% end %>
