<h1><%= "Bachelorette's Contestants"%></h1>
    <% @contestants.each do |contestant| %>
      <section id='contestant-<%=contestant.id%>'>
        <p>Name: <%= link_to contestant.name, "contestants/contestant.id" %><br></p>
        <p>Age: <%= contestant.age %><br></p>
        <p>Hometown: <%= contestant.hometown %><br></p>
      </section><br>
  <% end %>
