<h1><%= @outing.name %></h1>

<h3>Location: <%= @outing.location %></h3>
<h3>Date: <%= @outing.date %></h3>
<h3>Count of Contestants: <%= @outing.contestants.count %></h3>

<div id="contestants">
    <h3>Contestants:</h3>
    <% @outing.contestants.each do |contestant| %>
        <p><%= contestant.name %>
    <% end %>
</div>