<h1><%= @bachelorette.name %></h1>

<h3>Season Number: <%= @bachelorette.season_number %></h3>
<h3>Season Description: <%= @bachelorette.season_description %></h3>
<h3>Average Age of Contestants: <%= @bachelorette.contestants_average_age %></h3>
<h4><%= link_to 'Contestants', "/bachelorettes/#{@bachelorette.id}/contestants" %></h4>

