<h1><%= @bachelorette.name %></h1>
<p>Season: <%= @bachelorette.season_number %></p>
<p>Season: <%= @bachelorette.description %></p>
<%= link_to "#{@bachelorette.name} Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
<h3>Average Age Of All Contestants: <%= @bachelorette.average_contestants_age %></h3>