<h1>Bachelorette Info</h1>
<%= link_to "Show Contestants",bachelorette_contestants_path(@bachelorette.id)  %>
<p>Name: <%= @bachelorette.name %></p>
<p>Season Number: <%= @bachelorette.season_number %></p>
<p>Description: <%= @bachelorette.description %></p>

<% if @bachelorette.contestants != [] %>
<p>Average Age of Contestants: <%= @bachelorette.contestants.average_age.round(1) %></p>
<% end %>